<%= entity_block(:disabled => !customer.active?,
                 :wrapper_html => { :class => 'ui grid basic segment' }) do %>
  <div class="two column row">
    <label class="column">Reference</label>
    <div class="column"><%= customer.reference %></div>
  </div>
  <div class="two column row">
    <label class="column">Contact</label>
    <div class="column"><%= customer.default_contact %></div>
  </div>
  <div class="two column row">
    <label class="column">Salesperson</label>
    <div class="column"><%= customer.salesperson %></div>
  </div>
  <div class="two column row">
    <label class="column">Location</label>
    <div class="column"><%= customer.default_location %></div>
  </div>
  <div class="two column row">
    <label class="column">UUID</label>
    <div class="column"><%= customer.uuid %></div>
  </div>
<% end %>
