<%= entity_block(:disabled => !customer.active?) do %>
<label>Reference</label>
<p><%= customer.reference %></p>
<label>Contact</label>
<p><%= customer.default_contact %>&nbsp;</p>
<label>Salesperson</label>
<p><%= customer.salesperson %>&nbsp;</p>
<label>Location</label>
<p><%= customer.default_location %>&nbsp;</p>
<label>Active?</label>
<p><%= active_string(customer) %>&nbsp;</p>
<label>UUID</label>
<p><%= customer.uuid %></p>
<% end %>
