<header class="main">
  <div class="container">
    <h1>Entities</h1>
    <nav class="actions">
    <%= link_to 'Add Entity', new_entity_path, :class => 'button' %>
    </nav>
  </div>
</header>
<section class="container">
  <section>
    <%= search_form_for @search, :class => 'search-bar', :role => 'search' do |search| %>
      <%= search.text_field :cached_long_name_cont, :as => :search,
        :class => 'prompt', :placeholder => 'Search entities' %>
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
    <% end %>
  </section>
  <section>
    <table class="table-minimal">
      <thead>
      <tr>
        <th>Reference</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <% if @entities.each do |entity| %>
        <tr>
            <td nowrap><%= link_to entity.reference, entity_path(entity) %></td>
            <td nowrap><%= entity.name %></td>
        </tr>
      <% end.empty? %>
        <tr>
          <td colspan="2">No entities found</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</section>
