<% entity = @entity %>
<div class="clearing header segment">
  <div class="container">
    <h1 class="ui header">
      <%= entity.name %>
    </h1>
    <div class="ui divider"></div>
    <%= link_to 'Add Location',
                new_entity_location_path(entity,
                :return_url => request.original_url),
                :class => 'ui basic button' %>
  </div>
</div>
<div class="main container">
  <h4 class="ui dividing header">
    Entity Information
  </h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">Reference</label>
      <div class="column"><%= entity.reference %></div>
    </div>
    <div class="two column row">
      <label class="column">Name</label>
      <div class="column"><%= entity.name %></div>
    </div>
    <div class="two column row">
      <label class="column">Display Name</label>
      <div class="column"><%= entity.display_name %></div>
    </div>
  </div>
  <div class="ui basic segment">
    <%= edit_entity_link(entity,
                         request.original_url,
                         :class => 'ui basic button right floated floating') %>
    <%= link_to 'Delete', entity_path(entity),
      :class => 'ui basic button right floated',
      :data => { :confirm => 'Are you sure?' },
      :method => :delete %>
    <%= link_to 'Versions', versions_path('entity', entity.id, :return_url => request.original_url),
          :class => 'ui basic button right floated' %>
  </div>
  <h4 class="ui dividing header">
    Locations
  </h4>
  <div class="" id="locations">
    <div class="">
      <table class="ui table with-buttons">
        <thead>
          <tr>
            <th>Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>Region</th>
            <th>Region Code</th>
            <th>Country</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if entity.locations.each do |location| %>
            <tr>
              <td><%= location.location_name %></td>
              <td><%= location.street_address %></td>
              <td><%= location.city %></td>
              <td><%= location.region %></td>
              <td><%= location.region_code %></td>
              <td><%= location.country %></td>
              <td nowrap>
                <%= link_to 'Edit',
                            edit_location_path(location),
                            :class => 'ui basic button' %>
                <%= link_to 'Delete',
                            location_path(location),
                            :class => 'ui basic button',
                            :data => { :confirm => 'Are you sure?' },
                            :method => :delete %>
              </td>
            </tr>
          <% end.empty? %>
            <tr>
              <td colspan="6">No locations found</td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h4 class="ui dividing header">Salesperson</h4>
  <% if entity.salesperson %>
  <%= render :partial => '/entities/salesperson/detail',
             :locals => { :salesperson => entity.salesperson } %>
  <% else %>
  <%= render :partial => '/entities/salesperson/empty' %>
  <% end %>
  <div class="ui basic segment" id="salesperson-actions">
    <%= salesperson_link(
          entity,
          request.original_url,
          :class => 'ui basic button right floated floating') %>
    <%= delete_salesperson_link(
          entity,
          request.original_url,
          :class => 'ui basic button right floated floating') %>
    <%= versions_link('salesperson',
                      entity.salesperson,
                      request.original_url,
                      :class => 'ui basic button right floated') %>
  </div>
  <h4 class="ui dividing header">System Information</h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">UUID</label>
      <div class="column"><%= entity.uuid %></div>
    </div>
  </div>
</div>
