<% entity = @entity %>
<% location = entity.primary_location %>
<div class="clearing header segment">
  <div class="container">
    <h1 class="ui header">
      <%= entity.name %>
    </h1>
    <div class="ui divider"></div>
    <div>
      <%#= link_to 'Delete', entity_path(entity),
        :class => 'ui basic button',
        :data => { :confirm => 'Are you sure?' },
        :method => :delete %>
      <%#= link_to 'Versions', "/entities/#{entity.id}/versions",
        :class => 'ui basic button' %>
    </div>
  </div>
</div>
<div class="main container">
  <h4 class="ui dividing header">
    Entity Information
  </h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">Reference</label>
      <div class="column"><%= entity.reference %></div>
    </div>
    <div class="two column row">
      <label class="column">Name</label>
      <div class="column"><%= entity.name %></div>
    </div>
    <div class="two column row">
      <label class="column">Display Name</label>
      <div class="column"><%= entity.display_name %></div>
    </div>
  </div>
  <div class="ui basic segment">
    <%= edit_entity_link(entity,
                         request.original_url,
                         :class => 'ui basic button right floated floating') %>
    <%= link_to 'Delete', entity_path(entity),
      :class => 'ui basic button right floated',
      :data => { :confirm => 'Are you sure?' },
      :method => :delete %>
    <%= link_to 'Versions', versions_path('entity', entity.id, :return_url => request.original_url),
          :class => 'ui basic button right floated' %>
  </div>
  <h4 class="ui dividing header">
    Primary Location
  </h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">Location Name</label>
      <div class="column"><%= location.location_name %></div>
    </div>
    <div class="two column row">
      <label class="column">Street Address</label>
      <div class="column"><%= location.street_address %></div>
    </div>
    <div class="two column row">
      <label class="column">City</label>
      <div class="column"><%= location.city %></div>
    </div>
    <div class="two column row">
      <label class="column">Region</label>
      <div class="column"><%= location.region %></div>
    </div>
    <div class="two column row">
      <label class="column">Region Code</label>
      <div class="column"><%= location.region_code %></div>
    </div>
    <div class="two column row">
      <label class="column">Country</label>
      <div class="column"><%= location.country %></div>
    </div>
  </div>
  <div class="ui basic segment">
    <%= edit_location_link(entity.primary_location,
                           request.original_url,
                           :class => 'ui basic button right floated floating') %>
  </div>
  <h4 class="ui dividing header">Salesperson</h4>
  <% if entity.salesperson %>
  <%= render :partial => '/entities/salesperson/detail',
             :locals => { :salesperson => entity.salesperson } %>
  <% else %>
  <%= render :partial => '/entities/salesperson/empty' %>
  <% end %>
  <div class="ui basic segment" id="salesperson-actions">
    <%= salesperson_link(
          entity,
          request.original_url,
          :class => 'ui basic button right floated floating') %>
    <%= delete_salesperson_link(
          entity,
          request.original_url,
          :class => 'ui basic button right floated floating') %>
    <%= versions_link('salesperson',
                      entity.salesperson,
                      request.original_url,
                      :class => 'ui basic button right floated') %>
  </div>

  <h4 class="ui dividing header">System Information</h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">UUID</label>
      <div class="column"><%= entity.uuid %></div>
    </div>
  </div>
</div>
