<% entity = @entity %>
<% location = entity.primary_location %>
<div class="clearing header segment">
  <div class="container">
    <h1 class="ui header">
      <%= entity.name %>
    </h1>
    <div class="ui divider"></div>
    <div>
      <%= link_to 'Delete', entity_path(entity),
        :class => 'ui basic button',
        :data => { :confirm => 'Are you sure?' },
        :method => :delete %>
      <%= link_to 'Versions', "/entities/#{entity.id}/versions",
        :class => 'ui basic button' %>
    </div>
  </div>
</div>
<div class="main container">
  <h4 class="ui dividing header">
    Entity Information
    <%= edit_entity_link(entity,
                         request.original_url,
                         :class => 'right floated floating') %>
  </h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">Reference</label>
      <div class="column"><%= entity.reference %></div>
    </div>
    <div class="two column row">
      <label class="column">Name</label>
      <div class="column"><%= entity.name %></div>
    </div>
    <div class="two column row">
      <label class="column">Display Name</label>
      <div class="column"><%= entity.display_name %></div>
    </div>
  </div>
  <h4 class="ui dividing header">
    Primary Location
    <%= edit_location_link(entity.primary_location,
                           request.original_url,
                           :class => 'right floated floating') %>
  </h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">Location Name</label>
      <div class="column"><%= location.location_name %></div>
    </div>
    <div class="two column row">
      <label class="column">Street Address</label>
      <div class="column"><%= location.street_address %></div>
    </div>
    <div class="two column row">
      <label class="column">City</label>
      <div class="column"><%= location.city %></div>
    </div>
    <div class="two column row">
      <label class="column">Region</label>
      <div class="column"><%= location.region %></div>
    </div>
    <div class="two column row">
      <label class="column">Region Code</label>
      <div class="column"><%= location.region_code %></div>
    </div>
    <div class="two column row">
      <label class="column">Country</label>
      <div class="column"><%= location.country %></div>
    </div>
  </div>
  <h4 class="ui dividing header">System Information</h4>
  <div class="ui grid">
    <div class="two column row">
      <label class="column">UUID</label>
      <div class="column"><%= entity.uuid %></div>
    </div>
  </div>
</div>
