<% entity = @entity %>
<div class="clearing header segment">
  <div class="container">
    <h1 class="ui header">
      <%= entity.name %>
    </h1>
    <div class="ui divider"></div>
    <div>
      <%= link_to 'Delete', entity_path(entity),
        :class => 'ui basic button',
        :data => { :confirm => 'Are you sure?' },
        :method => :delete %>
    </div>
  </div>
</div>
<div class="main container">
  <%= semantic_flash %>
  <div class="ui form">
    <div class="inline field static">
      <label>Reference</label>
      <div><%= entity.reference %></div>
    </div>
    <div class="inline field static">
      <label>Display Name</label>
      <div><%= entity.display_name %></div>
    </div>
    <div class="inline field static">
      <label>Street Address</label>
      <div><%= entity.street_address %></div>
    </div>
    <div class="inline field static">
      <label>City</label>
      <div><%= entity.city %></div>
    </div>
    <div class="inline field static">
      <label>Region</label>
      <div><%= entity.region %></div>
    </div>
    <div class="inline field static">
      <label>Region Code</label>
      <div><%= entity.region_code %></div>
    </div>
    <div class="inline field static">
      <label>Country</label>
      <div><%= entity.country %></div>
    </div>

    <div class="inline field static">
      <label>UUID</label>
      <div><%= entity.uuid %></div>
    </div>
  </div>
</div>
