<%= entity_block(:disabled => !salesperson.active?) do %>
<label>Reference</label>
<p><%= salesperson.reference %></p>
<label>Gender</label>
<p><%= salesperson.gender %></p>
<label>Phone</label>
<p><%= salesperson.phone %>&nbsp;</p>
<label>Location</label>
<p><%= salesperson.location %>&nbsp;</p>
<label>Active?</label>
<p><%= active_string(salesperson) %>&nbsp;</p>
<label>UUID</label>
<p><%= salesperson.uuid %></p>
<% end %>
