<section class="content-slice container view-form">
  <div class="row">
    <label>First Name</label>
    <p><%= contact.first_name %></p>
  </div>
  <div class="row">
    <label>Last Name</label>
    <p><%= contact.last_name %></p>
  </div>
  <div class="row">
    <label>Display Name</label>
    <p><%= contact.display_name %></p>
  </div>
  <div class="row">
    <label>Fax Number</label>
    <p><%= contact.fax_number %></p>
  </div>
  <div class="row">
    <label>Mobile Number</label>
    <p><%= contact.mobile_number %></p>
  </div>
  <div class="row">
    <label>Phone Number</label>
    <p><%= contact.phone_number %></p>
  </div>
  <div class="row">
    <label>UUID</label>
    <p><%= contact.uuid %></p>
  </div>
</section>
