<div class="main container">
  <%= entity_block(:wrapper_html => { :class => 'ui grid' }) do %>
    <div class="two column row">
      <label class="column">First Name</label>
      <div class="column"><%= contact.first_name %></div>
    </div>
    <div class="two column row">
      <label class="column">Last Name</label>
      <div class="column"><%= contact.last_name %></div>
    </div>
    <div class="two column row">
      <label class="column">Display Name</label>
      <div class="column"><%= contact.display_name %></div>
    </div>
    <div class="two column row">
      <label class="column">Fax Number</label>
      <div class="column"><%= contact.fax_number %></div>
    </div>
    <div class="two column row">
      <label class="column">Mobile Number</label>
      <div class="column"><%= contact.mobile_number %></div>
    </div>
    <div class="two column row">
      <label class="column">Phone Number</label>
      <div class="column"><%= contact.phone_number %></div>
    </div>
    <div class="two column row">
      <label class="column">UUID</label>
      <div class="column"><%= contact.uuid %></div>
    </div>
  <% end %>
</div>
