<section class="content-slice container view-form">
  <div class="row">
    <label>Reference</label>
    <p><%= customer.reference %></p>
  </div>
  <div class="row">
    <label>Contact</label>
    <p><%= customer.default_contact %></p>
  </div>
  <div class="row">
    <label>Salesperson</label>
    <p><%= customer.salesperson %></p>
  </div>
  <div class="row">
    <label>Location</label>
    <p><%= customer.default_location %></p>
  </div>
  <div class="row">
    <label>UUID</label>
    <p><%= customer.uuid %></p>
  </div>
</section>
