<section class="content-slice container view-form">
  <div class="row">
    <label>Name</label>
    <p><%= location.location_name %></p>
  </div>
  <div class="row">
    <label>Street Address</label>
    <p><%= location.street_address %></p>
  </div>
  <div class="row">
    <label>City</label>
    <p><%= location.city %></p>
  </div>
  <div class="row">
    <label>Region</label>
    <p><%= location.region %></p>
  </div>
  <div class="row">
    <label>Region Code</label>
    <p><%= location.region_code %></p>
  </div>
  <div class="row">
    <label>Country</label>
    <p><%= location.country %></p>
  </div>
  <div class="row">
    <label>UUID</label>
    <p><%= location.uuid %></p>
  </div>
</section>
