<section class="content-slice container view-form">
  <div class="row">
    <label>Reference</label>
    <div><%= salesperson.reference %></div>
  </div>
  <div class="row">
    <label>Gender</label>
    <div><%= salesperson.gender %></div>
  </div>
  </div>
    <div class="row">
    <label>Phone</label>
  <div><%= salesperson.phone %></div>
  </div>
  <div class="row">
    <label>Location</label>
    <div><%= location_string(salesperson) %></div>
  </div>
  <div class="row">
    <label>UUID</label>
    <div><%= salesperson.uuid %></div>
  </div>
</section>
