<% contact = @contact %>
<header>
  <div class="container">
    <h1><%= contact.display_name %></h1>
    <nav>
      <%= link_to 'Edit', edit_contact_path(contact), :class => 'button' %>
      <%= link_to 'Back', return_url(entity_path(contact.entity)) %>
    </nav>
  </div>
</header>
<section class="container">
  <div class="row">
    <label>Title</label>
    <p><%= contact.title %></p>
  </div>
  <div class="row">
    <label>First Name</label>
    <p><%= contact.first_name %></p>
  </div>
  <div class="row">
    <label>Last Name</label>
    <p><%= contact.last_name %></p>
  </div>
  <div class="row">
    <label>Display Name</label>
    <p><%= contact.display_name %></p>
  </div>
  <div class="row">
    <label>Email Address</label>
    <p><%= contact.email_address %></p>
  </div>
  <div class="row">
    <label>Fax Number</label>
    <p><%= contact.fax_number %></p>
  </div>
  <div class="row">
    <label>Mobile Number</label>
    <p><%= contact.mobile_number %></p>
  </div>
  <div class="row">
    <label>Phone Number</label>
    <p><%= contact.phone_number %></p>
  </div>
  <div class="row">
    <label>Active</label>
    <p><%= active_string(contact) %></p>
  </div>
  <div class="row">
    <label>UUID</label>
    <p><%= contact.uuid %></p>
  </div>
</section>