<section class="content-slice container">
  <div class="line-behind-text">
    <h1><%= @model.class.name %> History</h1>
  </div>
  <div class="synopsis">
    <nav class="actions">
      <%= link_to 'Back', return_url(root_path),
                  :class => 'button' %>
    </nav>
  </div>
  <table class="tables">
    <thead>
    <tr>
      <th>Model</th>
      <th>Event</th>
      <th>Item</th>
      <th>User</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% if @versions.each do |version, item| %>
      <tr>
        <td nowrap><%= version.item_type %></td>
        <td nowrap><%= version.event %></td>
        <td nowrap><%= item %></td>
        <td nowrap><%= version.whodunnit %></td>
        <td nowrap><%= version.created_at %></td>
        <td nowrap>
          <nav>
          <%= link_to 'View', version_path(version, :return_url => (request.original_url)) %>
          </nav>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="6">No previous versions found</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
