<header>
  <div class="container">
    <h1><%= @model.class.name %> History</h1>
    <nav>
    <%= link_to 'Back', return_url(root_path),
                :class => 'button' %>
    </nav>
  </div>
</header>
<section class="content-slice container">
  <table class="tables">
    <thead>
    <tr>
      <th>Model</th>
      <th>Event</th>
      <th>Item</th>
      <th>User</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <% if @versions.each do |version, item| %>
      <tr>
        <td nowrap><%= version.item_type %></td>
        <td nowrap><%= version.event %></td>
        <td nowrap><%= item %></td>
        <td nowrap><%= version.whodunnit %></td>
        <td nowrap>
          <%= link_to version.created_at, version_path(version, :return_url => (request.original_url)) %>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="6">No previous versions found</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
