<div class="header segment">
  <div class="container">
    <h1 class="ui header">
      Sign in
    </h1>
  </div>
</div>
<div class="main container">
  <%= semantic_flash %>
  <%= simple_form_for(resource, :as => resource_name,
    :html => { :class => 'ui form segment' },
    :url => session_path(resource_name),
    :wrapper => :semantic_form) do |f| %>
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <%= f.button :submit, "Log in", :class => 'ui submit button' %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
