<% user = @user %>
<header>
  <div class="container">
    <h1><%= user.display_name %></h1>
    <nav>
      <%= link_to 'Add Role',
                  new_admin_user_role_path(user,
                                          :return_url => request.original_url),
                                          :class => 'button' %>
      <%= link_to 'Edit', edit_admin_user_path(user), :class => 'button' %>
    </nav>
  </div>
</header>
<section class="content-slice container view-form">
  <div class="row">
    <label>First Name</label>
    <p><%= user.first_name %></p>
  </div>
  <div class="row">
    <label>Last Name</label>
    <p><%= user.last_name %></p>
  </div>
  <div class="row">
    <label>Display Name</label>
    <p><%= user.display_name %></p>
  </div>
    <div class="row">
    <label>Email</label>
    <p><%= user.email %></p>
  </div>
    <div class="row">
    <label>Active</label>
    <p><%= active_string(user) %></p>
  </div>
</section>
<section class="content-slice container">
  <div class="line-behind-text">
    <h2>Roles</h2>
  </div>
  <table id="roles" class="tables">
    <tbody>
    <%= if user.roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td>
          <nav>
            <%= link_to 'Delete',
                        admin_user_revoke_role_path(user, role.name),
                        :class => 'ui button',
                        :data => { :confirm => 'Are you sure?' },
                        :method => :delete %>
          </nav>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="2">No roles found</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
